.PreviewsGames {
  display: flex;
  flex-wrap: wrap;
  width: 615px;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .PreviewsGames {
    justify-content: space-evenly;
    width: 600px;
  }
}

@media (min-width: 320px) and (max-width: 599px) {
  .PreviewsGames {
    justify-content: center;
    width: 100vw;
  }
}

@media (min-width: 1024px) {
  .GameItem:nth-child(3n) {
    margin-right: 0;
  }
}
