@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"),
    url("../../../../assets/fonts/Robotocondensedbold.woff2") format("woff2"),
    url("../../../../assets/fonts/Robotocondensedbold.woff") format("woff"),
    url("../../../../assets/fonts/Robotocondensedbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"),
    url("../../../../assets/fonts/Robotocondensed.woff2") format("woff2"),
    url("../../../../assets/fonts/Robotocondensed.woff") format("woff"),
    url("../../../../assets/fonts/Robotocondensed.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"),
    url("../../../../assets/fonts/Robotocondensedlight.woff2") format("woff2"),
    url("../../../../assets/fonts/Robotocondensedlight.woff") format("woff"),
    url("../../../../assets/fonts/Robotocondensedlight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

.LastWinners {
  display: flex;
  flex-direction: column;
  margin-right: 19px;
  width: 507px;
}

@media (min-width: 320px) and (max-width: 599px) {
  .LastWinners {
    align-items: center;
    margin-right: 0;
    width: 50vw;
  }
}

.Header {
  margin-top: 20px;
  margin-bottom: 4px;
  padding-left: 20px;
  font-family: "Roboto Condensed";
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: #ffce81;
  text-shadow: 0 0 5px #ffce81, 0 0 10px rgba(255, 168, 81, 0.9);
  text-transform: uppercase;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .Header {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 0;
  }
}

@media (min-width: 320px) and (max-width: 599px) {
  .Header {
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding: 0;
  }
}

.Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 599px) {
  .Container {
    flex-direction: column;
  }
}

.WinnersList {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-left: 0;
  width: 466px;
}

@media (min-width: 320px) and (max-width: 599px) {
  .WinnersList {
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
}

.WinnersItem {
  list-style-type: none;
}

@media (min-width: 320px) and (max-width: 599px) {
  .WinnersItem {
    margin-bottom: 10px;
  }
}

.Item {
  display: flex;
}

@media (min-width: 320px) and (max-width: 599px) {
  .Item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.Logo {
  margin-right: 7px;
  cursor: pointer;
}

.Description {
  display: flex;
  flex-direction: column;
}

@media (min-width: 320px) and (max-width: 599px) {
  .Description {
    align-items: center;
  }
}

.Title {
  font-family: "Roboto Condensed";
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.Score {
  font-family: "Roboto Condensed";
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  color: #f2de7b;
}

.Player {
  font-family: "Roboto Condensed";
  font-size: 10.4px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

.ArrowLeft,
.ArrowRight {
  border: none;
  width: 13px;
  height: 37px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.ArrowLeft {
  background-image: url("../../../../assets/images/winners-arrow-left.png");
}

@media (min-width: 320px) and (max-width: 599px) {
  .ArrowLeft {
    margin-bottom: 5px;
    transform: rotate(90deg);
  }
}

.ArrowRight {
  background-image: url("../../../../assets/images/winners-arrow-right.png");
}

@media (min-width: 320px) and (max-width: 599px) {
  .ArrowRight {
    transform: rotate(90deg);
  }
}
