@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"),
    url("../../../../assets/fonts/Robotocondensedlight.woff2") format("woff2"),
    url("../../../../assets/fonts/Robotocondensedlight.woff") format("woff"),
    url("../../../../assets/fonts/Robotocondensedlight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .Nav {
    display: none;
  }
}

.Nav {
  position: relative;
}

.List {
  display: flex;
  margin-top: 13px;
  padding-left: 0;
}

.Point {
  margin-right: 15px;
  list-style-type: none;
}

.Link {
  font-family: "Roboto Condensed";
  font-size: 11px;
  font-weight: 300;
  font-style: normal;
  color: #7e7d7d;
  text-transform: uppercase;
  text-decoration: none;
}

.Link:hover {
  color: #ffce81;
  text-shadow: 0 0 5px #ffce81, 0 0 10px rgba(255, 168, 81, 0.9);
  cursor: pointer;
}
