.Jackpot {
  width: 473px;
}

@media (min-width: 320px) and (max-width: 599px) {
  .Jackpot {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
  }
}

.JackpotContainer {
  display: flex;
  height: 43px;
}

@media (min-width: 320px) and (max-width: 599px) {
  .JackpotContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50vw;
    height: 362px;
  }
}

.Header {
  margin-top: 20px;
  margin-bottom: 4px;
  padding-left: 31px;
  font-family: "Roboto Condensed";
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: #ffce81;
  text-shadow: 0 0 5px #ffce81, 0 0 10px rgba(255, 168, 81, 0.9);
  text-transform: uppercase;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .Header {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 0;
  }
}

.Item {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 74px;
  margin-left: 13px;
  margin-bottom: 2px;
  margin-top: 1px;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .Item {
    margin-left: 0;
  }
}

@media (min-width: 320px) and (max-width: 599px) {
  .Item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}

.Item:nth-child(2) {
  margin-left: 0;
}

@media (min-width: 320px) and (max-width: 599px) {
  .Item:nth-child(2) {
    margin: 20px 0;
  }
}

.Item:nth-child(3) {
  margin-left: -5px;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .Item:nth-child(3) {
    margin-left: 0;
  }
}

.Medal {
  position: relative;
  z-index: 2;
}

@media (min-width: 320px) and (max-width: 599px) {
  .Medal {
    position: relative;
  }
}

.Score {
  position: absolute;
  z-index: 3;
  left: 61px;
  top: 11px;
}

@media (min-width: 320px) and (max-width: 599px) {
  .Score {
    position: relative;
    left: 0;
  }
}
