@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed Light Italic"),
    local("RobotoCondensed-LightItalic"),
    url("../../../assets/fonts/Robotocondensedlightitalic.woff2")
      format("woff2"),
    url("../../../assets/fonts/Robotocondensedlightitalic.woff") format("woff"),
    url("../../../assets/fonts/Robotocondensedlightitalic.ttf")
      format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"),
    url("../../../assets/fonts/Robotocondensed.woff2") format("woff2"),
    url("../../../assets/fonts/Robotocondensed.woff") format("woff"),
    url("../../../assets/fonts/Robotocondensed.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../../assets/images/main-background.jpg");
}

.MainTop {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1000px;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .MainTop {
    flex-wrap: wrap;
    width: 100vw;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .MainTop {
    margin-bottom: 48px;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .MainBottom {
    display: none;
  }
}

.Buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: 1000px;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .Buttons {
    justify-content: space-evenly;
    width: 97vw;
  }
}

@media (min-width: 320px) and (max-width: 599px) {
  .Buttons {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 180px;
  }
}

.Popular {
  padding-left: 19px;
  background-image: url("../../../assets/images/popular.png");
  background-position: 34px center;
}

.New {
  padding-left: 15px;
  background-image: url("../../../assets/images/new.png");
  background-position: 48px center;
}

.Slot {
  padding-left: 36px;
  background-image: url("../../../assets/images/slot.png");
  background-position: 24px center;
}

.Card {
  padding-left: 33px;
  background-image: url("../../../assets/images/card.png");
  background-position: 25px center;
}

.Roulette {
  padding-left: 11px;
  background-image: url("../../../assets/images/roulette.png");
  background-position: 26px center;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .Popular,
  .New,
  .Slot,
  .Card,
  .Roulette {
    display: flex;
    justify-content: center;
    padding: 23px 0 0 0;
    background-position: top center;
  }
}

.Searching {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
  margin-top: 7px;
  width: 1000px;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .Searching {
    width: 95vw;
  }
}

@media (min-width: 320px) and (max-width: 599px) {
  .Searching {
    flex-direction: column-reverse;
    align-items: center;
    width: 95vw;
  }
}

.Sort {
  display: inline-flex;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 599px) {
  .Sort {
    margin-top: 10px;
  }
}

.Sorting,
.SortProperty {
  font-family: "Roboto Condensed";
  font-size: 12.8px;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
}

.Sorting {
  display: inline-flex;
  font-weight: 400;
}

.SortProperty {
  border: none;
  background-color: transparent;
  font-weight: 700;
}

.SortProperty:hover {
  text-decoration: underline;
  cursor: pointer;
}

.SortSeparator {
  display: inline-flex;
  margin-left: 2px;
  width: 1px;
  height: 14px;
  background-color: #fff;
}

.SortProperty:nth-child(4) {
  margin-left: 5px;
}

.Input {
  border: 2px solid #8bfbff;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(81, 243, 255, 0.9);
  padding-left: 10px;
  width: 224px;
  height: 25px;
  background-color: #000;
  background-image: url("../../../assets/images/search-icon.png");
  background-position: 200px center;
  background-repeat: no-repeat;
  font-family: "Roboto Condensed";
  font-size: 12.8px;
  font-weight: 300;
  font-style: italic;
  color: #8bfbff;
}

.MoreGames {
  margin-bottom: 28px;
  margin-top: 25px;
  width: 125px;
  height: 25px;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .MoreGames {
    margin-top: 0;
  }
}
