@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"),
    url("../../../assets/fonts/Robotocondensedbold.woff2") format("woff2"),
    url("../../../assets/fonts/Robotocondensedbold.woff") format("woff"),
    url("../../../assets/fonts/Robotocondensedbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"),
    url("../../../assets/fonts/Robotocondensedlight.woff2") format("woff2"),
    url("../../../assets/fonts/Robotocondensedlight.woff") format("woff"),
    url("../../../assets/fonts/Robotocondensedlight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

.Promotions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 385px;
  height: 280px;
}

@media (min-width: 320px) and (max-width: 599px) {
  .Promotions {
    width: 319px;
    height: 228px;
  }
}

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  box-shadow: 0 0 40px rgba(39, 43, 255, 1.5);
  border-radius: 3px;
  padding-left: 11px;
  height: 36px;
  background-color: #d6f0ff;
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  color: #10154d;
  text-transform: uppercase;
}

@media (min-width: 320px) and (max-width: 599px) {
  .Header {
    margin-bottom: 10px;
  }
}

.Slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 23px;
  width: 385px;
  height: 219px;
  background-image: url("../../../assets/images/promotions-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (min-width: 320px) and (max-width: 599px) {
  .Slider {
    border-left: 2px solid #81c6ff;
    border-right: 2px solid #81c6ff;
    width: 315px;
  }
}

.Points {
  margin-top: 9px;
  padding-left: 11px;
}

.Point {
  display: inline-block;
  margin-right: 11px;
  border-radius: 50%;
  border: 1px solid #8a9491;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
  width: 10px;
  height: 10px;
  background: #babab4;
}

.Point:hover {
  border: 1px solid #9b8eb6;
  box-shadow: 0 0 10px rgba(245, 245, 245, 1);
  background: linear-gradient(to top, #a498b6, #c2c6b4);
  cursor: pointer;
}

.Offer {
  margin-top: 99px;
  height: 40px;
  background-image: url("../../../assets/images/promotions-text.png");
  background-size: contain;
  background-position: 135px center;
  background-repeat: no-repeat;
}

@media (min-width: 320px) and (max-width: 599px) {
  .Offer {
    background-position: center;
  }
}

.Description {
  padding: 0 16px;
  font-family: "Roboto Condensed";
  font-size: 13.6px;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  text-align: end;
}

@media (min-width: 320px) and (max-width: 599px) {
  .Description {
    padding: 0 20px;
    text-align: center;
  }
}
