@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"),
    url("../../../../assets/fonts/Robotocondensed.woff2") format("woff2"),
    url("../../../../assets/fonts/Robotocondensed.woff") format("woff"),
    url("../../../../assets/fonts/Robotocondensed.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.RegButton {
  margin-left: 67px;
  border: none;
  padding-left: 20px;
  height: 36px;
  background-color: transparent;
  background-image: url("../../../../assets/images/flash.png");
  background-position: 0 center;
  background-repeat: no-repeat;
  font-family: "Roboto Condensed";
  font-size: 13.6px;
  font-weight: 400;
  font-style: normal;
  color: #ffce81;
  text-shadow: 0 0 5px #ffce81, 0 0 10px rgba(255, 168, 81, 0.9);
  text-transform: uppercase;
}

.RegButton:hover {
  cursor: pointer;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .RegButton {
    margin-left: auto;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .RegButton {
    margin-left: auto;
    width: 100px;
    font-size: 10px;
  }
}
