@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"),
    url("../../assets/fonts/Robotocondensedbold.woff2") format("woff2"),
    url("../../assets/fonts/Robotocondensedbold.woff") format("woff"),
    url("../../assets/fonts/Robotocondensedbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.BlueButton {
  border: 2px solid #81fbff;
  border-radius: 2px;
  box-shadow: inset 0 0 10px rgba(81, 243, 255, 0.9),
    0 0 10px rgba(81, 243, 255, 0.9);
  background-color: rgba(81, 84, 255, 0.555);
  font-family: "Roboto Condensed";
  font-size: 13.6px;
  font-weight: 700;
  font-style: normal;
  color: #81fbff;
  text-shadow: 0 0 5px #81fbff, 0 0 10px rgba(81, 243, 255, 0.9);
  text-transform: uppercase;
}

.BlueButton:hover {
  cursor: pointer;
}
