@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"),
    url("../../assets/fonts/Robotocondensedbold.woff2") format("woff2"),
    url("../../assets/fonts/Robotocondensedbold.woff") format("woff"),
    url("../../assets/fonts/Robotocondensedbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.RedButton {
  border: 2px solid #ffce81;
  border-radius: 2px;
  box-shadow: inset 0 0 10px rgba(255, 168, 81, 0.9),
    0 0 10px rgba(255, 168, 81, 0.9);
  background-color: rgba(255, 116, 81, 0.555);
  font-family: "Roboto Condensed";
  font-size: 13.6px;
  font-weight: 700;
  font-style: normal;
  color: #ffce81;
  text-shadow: 0 0 5px #ffce81, 0 0 10px rgba(255, 168, 81, 0.9);
  text-transform: uppercase;
}

.RedButton:hover {
  cursor: pointer;
}
