@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"),
    url("../../../assets/fonts/Robotocondensedlight.woff2") format("woff2"),
    url("../../../assets/fonts/Robotocondensedlight.woff") format("woff"),
    url("../../../assets/fonts/Robotocondensedlight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 382px;
  background-color: #000;
}

@media (min-width: 320px) and (max-width: 599px) {
  .Footer {
    height: 520px;
  }
}

.Navigation {
  display: flex;
  justify-content: center;
  padding-right: 48px;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .Navigation {
    padding-right: 0;
  }
}

.Links {
  display: flex;
  align-items: center;
  margin-top: 17px;
  margin-bottom: 21px;
  padding: 0;
}

@media (min-width: 320px) and (max-width: 599px) {
  .Links {
    flex-direction: column;
  }
}

.NavPoint {
  list-style-type: none;
}

.NavLink {
  font-family: "Roboto Condensed";
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  color: #7e7d7d;
  text-transform: uppercase;
  text-decoration: none;
}

.NavLink:hover {
  color: #ffce81;
  cursor: pointer;
}

.NavSeparator {
  margin: 0 11px;
  width: 1px;
  height: 10px;
  background-color: #515151;
}

@media (min-width: 320px) and (max-width: 599px) {
  .NavSeparator {
    margin: 5px 0;
    width: 100px;
    height: 1px;
  }
}

.PaymentSeparator {
  width: 1000px;
  height: 2px;
  background: radial-gradient(#022a3f, transparent);
}

@media (min-width: 320px) and (max-width: 1024px) {
  .PaymentSeparator {
    width: 100vw;
  }
}

.PaymentItems {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 17px;
  height: 100px;
  width: 1000px;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .PaymentItems {
    padding-right: 0;
    width: 100vw;
  }
}

@media (min-width: 320px) and (max-width: 599px) {
  .PaymentItems {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-right: 0;
    height: 300px;
    width: 100vw;
  }
}

.Mastercard,
.YandexMoney,
.Visa,
.Liqpay,
.Qiwi {
  margin-right: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 320px) and (max-width: 599px) {
  .Mastercard,
  .YandexMoney,
  .Visa,
  .Liqpay,
  .Qiwi {
    margin-right: 0;
  }
}

.Mastercard {
  width: 94px;
  height: 57px;
  background-image: url("../../../assets/images/master-card.png");
}

@media (min-width: 600px) and (max-width: 1024px) {
  .Mastercard {
    width: 47px;
  }
}

.Mastercard:hover {
  background-image: url("../../../assets/images/master-card-hover.png");
  cursor: pointer;
}

.YandexMoney {
  width: 106px;
  height: 46px;
  background-image: url("../../../assets/images/yandex-money.png");
}

@media (min-width: 600px) and (max-width: 1024px) {
  .YandexMoney {
    width: 53px;
  }
}

.YandexMoney:hover {
  background-image: url("../../../assets/images/yandex-money-hover.png");
  cursor: pointer;
}

.Visa {
  width: 99px;
  height: 30px;
  background-image: url("../../../assets/images/visa.png");
}

@media (min-width: 600px) and (max-width: 1024px) {
  .Visa {
    width: 50px;
  }
}

.Visa:hover {
  background-image: url("../../../assets/images/visa-hover.png");
  cursor: pointer;
}

.Liqpay {
  width: 166px;
  height: 29px;
  background-image: url("../../../assets/images/liqpay.png");
}

@media (min-width: 600px) and (max-width: 1024px) {
  .Liqpay {
    width: 83px;
  }
}

.Liqpay:hover {
  background-image: url("../../../assets/images/liqpay-hover.png");
  cursor: pointer;
}

.Qiwi {
  width: 130px;
  height: 51px;
  background-image: url("../../../assets/images/qiwi.png");
}

@media (min-width: 600px) and (max-width: 1024px) {
  .Qiwi {
    width: 65px;
  }
}

.Qiwi:hover {
  background-image: url("../../../assets/images/qiwi-hover.png");
  cursor: pointer;
}

.Copyright {
  margin-top: 15px;
  padding-right: 45px;
  font-family: "Roboto Condensed";
  font-size: 10.4px;
  font-weight: 300;
  font-style: normal;
  color: #7e7d7d;
  text-transform: uppercase;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .Copyright {
    padding: 0;
  }
}
