.Socials {
  margin-left: 17px;
}

@media (min-width: 320px) and (max-width: 599px) {
  .Socials {
    margin-left: 0;
  }
}

.Button {
  margin-right: 10px;
  border: none;
  border-radius: 6px;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #656666;
}

@media (min-width: 320px) and (max-width: 599px) {
  .Button {
    margin-right: 0;
    width: 20px;
    height: 20px;
  }
}

.Button:hover {
  box-shadow: 0 0 10px rgba(255, 168, 81, 0.8);
  background-color: #ffce81;
  cursor: pointer;
}

.Fb {
  margin-right: 12px;
  background-image: url("../../../../assets/images/fb-white.png");
}

.Fb:hover {
  background-image: url("../../../../assets/images/fb-black.png");
}

.Tw {
  margin-right: 14px;
  background-image: url("../../../../assets/images/tw-white.png");
}

.Tw:hover {
  background-image: url("../../../../assets/images/tw-black.png");
}

.Vk {
  background-image: url("../../../../assets/images/vk-white.png");
}

.Vk:hover {
  background-image: url("../../../../assets/images/vk-black.png");
}
