@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"),
    url("../../../assets/fonts/Robotocondensed.woff2") format("woff2"),
    url("../../../assets/fonts/Robotocondensed.woff") format("woff"),
    url("../../../assets/fonts/Robotocondensed.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.Game {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 15px;
  margin-right: 25px;
}

@media (min-width: 320px) and (max-width: 359px) {
  .Game {
    margin-right: 0;
  }
}

@media (min-width: 380px) and (max-width: 599px) {
  .Game:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: 560px) and (max-width: 599px) {
  .Game:nth-child(2n) {
    margin-right: 10px;
  }
}

@media (min-width: 570px) and (max-width: 599px) {
  .Game:nth-child(3n) {
    margin-right: 0;
  }
}

@media (min-width: 360px) and (max-width: 599px) {
  .Game {
    margin-right: 10px;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .Game {
    margin-right: 0;
  }
}

.Layer {
  margin-bottom: 7px;
  width: 180px;
  height: 122px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.LayerButtons {
  position: absolute;
  top: 1px;
  left: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0;
  width: 178px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
}

.Layer:hover .LayerButtons {
  box-shadow: 0 0 20px rgba(39, 151, 255, 0.9);
  opacity: 1;
}

.Title {
  font-family: "Roboto Condensed";
  font-size: 12.8px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.Play {
  width: 92px;
  height: 25px;
}

.Demo {
  width: 68px;
  height: 22px;
}
