.Achievements {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 101px;
  background-color: #000;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .Achievements {
    height: 180px;
  }
}

@media (min-width: 320px) and (max-width: 599px) {
  .Achievements {
    height: 450px;
  }
}

.Container {
  display: flex;
  justify-content: flex-start;
  width: 1000px;
  height: 100%;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .Container {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .Container {
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
  }
}
