.Layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 296px;
  width: 100vw;
  background-image: url("../../../assets/images/page-top-background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .Layout {
    height: 25vw;
  }
}

.Logo {
  margin-bottom: 14px;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .Logo {
    margin: 0;
    width: 95vw;
  }
}
