.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50px;
  background-color: #111;
}

.Container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1000px;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .Container {
    justify-content: space-between;
    width: 95vw;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .Container {
    justify-content: space-evenly;
    width: 99vw;
  }
}
