@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"),
    url("../../../assets/fonts/Robotocondensed.woff2") format("woff2"),
    url("../../../assets/fonts/Robotocondensed.woff") format("woff"),
    url("../../../assets/fonts/Robotocondensed.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.MainButton {
  border: 2px solid #ffce81;
  border-radius: 2px;
  box-shadow: inset 0 0 10px rgba(255, 168, 81, 0.9),
    0 0 10px rgba(255, 168, 81, 0.9);
  width: 180px;
  height: 30px;
  background-color: transparent;
  background-repeat: no-repeat;
  font-family: "Roboto Condensed";
  font-size: 14.4px;
  font-weight: 400;
  font-style: normal;
  color: #ffce81;
  text-shadow: 0 0 5px #ffce81, 0 0 10px rgba(255, 168, 81, 0.9);
  text-transform: uppercase;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .MainButton {
    width: 115px;
    height: 50px;
  }
}

.MainButton:hover {
  background-color: #000;
  cursor: pointer;
}
