@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed Light Italic"),
    local("RobotoCondensed-LightItalic"),
    url("../../../assets/fonts/Robotocondensedlightitalic.woff2")
      format("woff2"),
    url("../../../assets/fonts/Robotocondensedlightitalic.woff") format("woff"),
    url("../../../assets/fonts/Robotocondensedlightitalic.ttf")
      format("truetype");
  font-weight: 300;
  font-style: italic;
}

.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 78px;
  background-image: url("../../../assets/images/registr-background.png");
  background-repeat: no-repeat;
  background-position: 27px -39px;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .Login {
    align-items: center;
    height: 160px;
    background-position: -110px -6px;
  }
}

@media (min-width: 320px) and (max-width: 599px) {
  .Login {
    align-items: center;
    height: 160px;
    background: none;
  }
}

.RegButton {
  margin-bottom: 14px;
  margin-right: 23px;
  width: 108px;
  height: 23px;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .RegButton {
    margin: 0 10.5px;
  }
}

.LoginButton {
  margin-left: 17px;
  width: 77px;
  height: 23px;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .LoginButton {
    margin: 0;
  }
}

.Container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 1000px;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .Container {
    flex-direction: column;
    justify-content: center;
    width: 95vw;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .Container {
    align-items: flex-end;
    padding-right: 55px;
  }
}

@media (min-width: 320px) and (max-width: 599px) {
  .Container {
    align-items: center;
  }
}

.Form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 10px;
  width: 340px;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .Form {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
    width: 130px;
    height: 110px;
  }
}

.Input {
  margin-right: 11px;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  padding-left: 10px;
  width: 112px;
  height: 25px;
  font-family: "Roboto Condensed";
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .Input {
    margin: 0;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .Input {
    width: 200px;
  }
}

.PasswordContainer {
  display: flex;
  flex-direction: column;
}

.LabelLink {
  padding-left: 10px;
  font-family: "Roboto Condensed";
  font-size: 11.2px;
  font-weight: 300;
  font-style: italic;
  color: #6f6e6e;
  text-decoration: none;
}

.LabelLink:hover {
  text-decoration: underline;
}
