@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"),
    url("../../../../assets/fonts/Robotocondensedlight.woff2") format("woff2"),
    url("../../../../assets/fonts/Robotocondensedlight.woff") format("woff"),
    url("../../../../assets/fonts/Robotocondensedlight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

.LangForm {
  display: flex;
  align-items: center;
  margin-left: 36px;
}

@media (min-width: 320px) and (max-width: 599px) {
  .LangForm {
    margin-left: 10px;
  }
}

.Country {
  display: inline-block;
  margin-right: 0;
  width: 22px;
  height: 22px;
}

.Rus,
.Eng {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Rus {
  background-image: url("../../../../assets/images/ru-flag.jpg");
}

.Eng {
  background-image: url("../../../../assets/images/en-flag.jpg");
}

.Select {
  border: none;
  background-color: transparent;
  font-family: "Roboto Condensed";
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  color: #7e7d7d;
}

.Select:hover {
  color: #ffce81;
  text-shadow: 0 0 5px #ffce81, 0 0 10px rgba(255, 168, 81, 0.9);
}
