@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"),
    url("../../../../assets/fonts/Robotocondensedlight.woff2") format("woff2"),
    url("../../../../assets/fonts/Robotocondensedlight.woff") format("woff"),
    url("../../../../assets/fonts/Robotocondensedlight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@media (min-width: 1024px) {
  .MobileNav {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .MobileNav {
    position: relative;
    display: flex;
  }
  .Toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 30px;
  }

  .ToggleLine {
    border-radius: 3px;
    width: 100%;
    height: 6px;
    background-color: #7e7d7d;
  }

  .Toggle:hover .ToggleLine {
    box-shadow: inset 0 0 10px rgba(255, 168, 81, 0.9),
      0 0 10px rgba(255, 168, 81, 0.9);
    background-color: #ffce81;
  }

  .MobileLinksClose {
    display: none;
  }

  .MobileLinksOpen {
    display: flex;
  }

  .MobileLinks {
    position: absolute;
    z-index: 10;
    top: 24px;
    left: 0;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
    background-color: #111;
  }

  .MobilePoint {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
    border: 2px solid #888;
    border-radius: 2px;
    height: 36px;
    background-color: #111;
    list-style-type: none;
  }

  .MobileLink {
    font-family: "Roboto Condensed";
    font-size: 11px;
    font-weight: 300;
    font-style: normal;
    color: #7e7d7d;
    text-transform: uppercase;
    text-decoration: none;
  }
}

@media (min-width: 320px) and (max-width: 599px) {
  .MobilePoint {
    width: calc(100vw - 8px);
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .MobilePoint {
    width: 320px;
  }
}
